.Button {
    padding: .7rem .9rem !important;
    font-weight: 500;
}

.ButtonRadius {
    border-radius: 10px;
}

.ButtonColorWhite {
    color: white;
}

.ButtonOutline {
    outline: none;
    background: transparent;
    border: none;
}

.ButtonPrimay {
    background-color: #ea4c89
}
.ButtonPrimay:hover {
    background-color: #f082ac;
    color: white !important;
}

