.pricing-choose-tier {
    width: 100%;
    margin-top: 80px;
}
.hiring-tier-grid {
    display: grid;
    grid-template-columns: 272px 190px 190px 190px 272px;
    width: 100%;
    justify-content: center;
}

.hiring-tier {
    padding: 32px 0;
    max-width: 190px;
    
}


.hiring-tier.hiring-tier-title-list {
    max-width: 272px;
    margin-top: 309px;
}

.features-list-tier:not(:nth-child(1)) .section-brand-title  {
    /* margin-top: 40px; */
}
.features-search-basic .features-list-tier li {
    border-bottom-width: 0;
    padding: 8px 0;
    height: auto;
}

.features-list__items {
    padding-left: 32px;
}
.features-list__item {
    color: #6e6d7a;
    font-weight: 500;
    padding: 5px 0;
}
.features-list__item.ticked {
    color: #0d0c22;
    margin-left: -20px;
}
.features-list__item.ticked svg {
    width: 14px;
    height: 14px;
    fill: #77e0b5;
    margin-right: 5px;
}

.hiring-tier-meta {
    margin-top: 24px;
    text-align: center;
}
.hiring-tier-meta .hiring-tier-price-slash {
    color: #6e6d7a;
    text-decoration: line-through;
}

.hiring-tier-meta .hiring-tier-price-real h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
.hiring-tier-meta .hiring-tier-price-real span {
    font-weight: 500;
    font-size: 16px;
}
.hiring-tier-meta .hiring-tier-checkout-method {
    color: #6e6d7a;
    margin-bottom:16px;
}



.hiring-tier__recommend {
    padding: 2rem;
    box-shadow: 0px 20px 70px rgba(0,0,0,0.08);
    margin: 0;
    max-width: 272px;
}

.hiring-features-list-group li {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    height: 52px;
}
.hiring-features-list-group li svg {
    fill: #77e0b5;
    width: 16px;
    height: 16px;
}

.hiring-tier:not(:first-child) .hiring-features-list-group {
    margin-top: 66px;
    text-align: center;
}
.hiring-tier:last-child .hiring-features-list-group {
    margin-top: 64px;
}

.features-search-basic {
    grid-column: 2 span;
}

.features-search-basic h3 {
    color: #0d0c22;
}
.features-search-basic h3.dropdown {
    cursor: pointer;
}
.features-search-basic h3.dropdown svg {
    margin-left: 16px !important;
    display: inline-block;
}
.features-search-basic div h3 {
    font-size: 17px !important;
    color: #0d0c22 !important;
    display: flex;
}
.features-search-basic div h3 div {
    margin-left: 32px;
}
.features-search-basic div h3 span {
    font-weight: 400;
}

.features-search-basic .dropdown.close + .features-list-tier {
    display: none;
}
.features-search-basic .dropdown.open + .features-list-tier {
    display: block;
}

.features-list-tier h3 {
    margin-top: 42px;
    margin-bottom: 10px;
    font-size: 12px !important;
}

.features-search-basic .dropdown.close svg {
    animation: close .1s linear;
    transform: rotate(0);
}
.features-search-basic .dropdown.open svg {
    animation: open .1s linear;
    transform: rotate(180deg);
}

@keyframes open {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes close {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}