.Footer {
    padding: 0 1.5rem 2.5rem 1.5rem;
    color: #6e6d7a;
}

.FooterItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FooterEnd {
    /* text-align: center; */
    margin-top: 2rem;
}

@media (max-width: 953px) {
    .FooterItems {
        justify-content: flex-start;
    }
}
@media (max-width: 400px) {
    .FooterEnd span {
        display: none;
    }
}

