.Footer {
    padding: 0 1.5rem 2.5rem 1.5rem;
    color: #6e6d7a;
    border-top: 1px solid #e5e5e5;
}

.FooterItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FooterEnd {
    /* text-align: center; */
    margin-top: 2rem;
}

.ScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1005;
}
.ScrollToTop a {
    display: inline-block;
    opacity: .37;
}
.ScrollToTop a:hover {
    display: inline-block;
    opacity: .72;
}
.ScrollToTop img {
    width: 50px;
    height: 50px;
}

@media (max-width: 953px) {
    .FooterItems {
        justify-content: flex-start;
    }
}
@media (max-width: 400px) {
    .FooterEnd span {
        display: none;
    }
}

