@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-55Roman-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-55Roman-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-55Roman-Web.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-56Italic-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-56Italic-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-56Italic-Web.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-65Medium-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-65Medium-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-65Medium-Web.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-66MediumItalic-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-66MediumItalic-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-66MediumItalic-Web.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-75Bold-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-75Bold-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-75Bold-Web.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Haas Grot Text R Web';
    src: url(./assets/fonts/NeueHaasGrotTextRound-76BoldItalic-Web.eot);
    src: url(./assets/fonts/NeueHaasGrotTextRound-76BoldItalic-Web.woff2) format("woff2"), url(./assets/fonts/NeueHaasGrotTextRound-76BoldItalic-Web.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

::selection {
    color: #fff;
    background-color: #ea4c89;
}

html {
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Haas Grot Text R Web', sans-serif;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* MARGIN */
.ml-auto {
    margin-left: auto;
}


/* LAYOUT */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}